#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R    &kp T                                        &kp Y          &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &kp F    &kp G        &lt 0 LANG1      &lt 2 ENTER    &kp H          &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z      &kp X         &kp C         &kp V    &kp B        &kp EQUAL        &kp RIGHT_GUI  &kp N          &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 A  &lt 2 SPACE  &kp TAB          &kp BACKSPACE  &kp RIGHT_ALT                             &kp RSHFT
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)                            &kp RS(Y)      &kp RS(U)  &kp RS(I)      &kp RS(O)    &kp RS(P)
&kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)  &trans      &kp F13       &kp RS(H)      &kp RS(J)  &kp RS(K)      &kp RS(L)    &kp SINGLE_QUOTE
&kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)  &trans      &trans        &kp RS(N)      &kp RS(M)  &kp RS(COMMA)  &kp RS(DOT)  &kp RS(SLASH)
&kp LCTRL  &kp LGUI   &kp LALT   &trans     &trans     &trans      &kp LEFT_ALT  &kp RIGHT_GUI                                         &kp RSHFT
            >;
        };

        NUM {
            bindings = <
&trans  &kp N7  &kp N8   &kp N9  &trans                                  &trans         &kp LEFT              &kp UP_ARROW    &kp RIGHT             &trans
&trans  &kp N4  &kp N5   &kp N6  &kp LS(SEMICOLON)  &trans      &kp DEL  &kp PG_UP      &kp C_BRIGHTNESS_INC  &kp DOWN_ARROW  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_AUTO
&trans  &kp N1  &kp N2   &kp N3  &kp LS(MINUS)      &trans      &trans   &kp PAGE_DOWN  &trans                &trans          &trans                &trans
&trans  &kp N0  &kp DOT  &trans  &trans             &trans      &trans   &trans                                                                     &trans
            >;
        };
    };
};
